<!-- 
	Arcanum Frontend Pages
	
	Template-Engine:
		http://jinja.pocoo.org/docs/ 
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		{% block head %}
		<link rel="stylesheet" href="css/style.css" />
    	<title>{% block page_title %}{% endblock %} - Arcanum</title>
    	{% endblock %}
	</head>
	<body>
		<div id="header">
			<h1>{{ self.page_title() }} - Arcanum</h1>
		</div>
		<div id="content">{% block content %}{% endblock %}</div>
    	<div id="footer">
        	{% block page_footer %}
        	<div id="copyright">&copy; Copyright 2012 by <a href="http://www.malcharek.eu/">Malmi</a>.</div>
        	<div id="gae_logo">
        		<img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
        	</div>
        	{% endblock %}
    	</div>
	</body>
</html>